<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/sourcebits-jesly/GroceryList.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <au.com.rayh.XCodeBuilder>
      <cleanBeforeBuild>false</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration>Release</configuration>
      <target></target>
      <sdk></sdk>
      <symRoot></symRoot>
      <configurationBuildDir></configurationBuildDir>
      <xcodeProjectPath></xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments></xcodebuildArguments>
      <xcodeSchema></xcodeSchema>
      <xcodeWorkspaceFile></xcodeWorkspaceFile>
      <embeddedProfileFile></embeddedProfileFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>true</buildIpa>
      <unlockKeychain>true</unlockKeychain>
      <keychainPath>${HOME}/Library/Keychains/jenkins.keychain</keychainPath>
      <keychainPwd>jenkins</keychainPwd>
    </au.com.rayh.XCodeBuilder>
  </builders>
  <publishers>
    <ruby-proxy-object>
      <ruby-object ruby-class="Jenkins::Tasks::PublisherProxy" pluginid="otabuilder">
        <pluginid pluginid="otabuilder" ruby-class="String">otabuilder</pluginid>
        <object ruby-class="OtabuilderWrapper" pluginid="otabuilder">
          <ipa__path pluginid="otabuilder" ruby-class="String">build/Release-iphoneos/GroceryList-Release-1.0.ipa</ipa__path>
          <bundle__identifier pluginid="otabuilder" ruby-class="String">SoupLabs.${PRODUCT_NAME:rfc1034identifier}</bundle__identifier>
          <ftp__host pluginid="otabuilder" ruby-class="String">ftp.sourcebits.com</ftp__host>
          <icon__path pluginid="otabuilder" ruby-class="String"></icon__path>
          <bundle__version pluginid="otabuilder" ruby-class="String">1.0</bundle__version>
          <title pluginid="otabuilder" ruby-class="String">Grocery List App</title>
          <ftp__ota__dir pluginid="otabuilder" ruby-class="String">/Internal/Test/</ftp__ota__dir>
          <ftp__password pluginid="otabuilder" ruby-class="String">long5@reamedA</ftp__password>
          <ftp__user pluginid="otabuilder" ruby-class="String">geodatauser</ftp__user>
        </object>
      </ruby-object>
    </ruby-proxy-object>
  </publishers>
  <buildWrappers/>
</project>